@import "tailwindcss";

.skills{
    display: flex;
    padding: 1% 15% 0 15%;
    flex-direction: column;

    .title{
        display: flex;
        background-color: #F5ECD5;
        width: 10rem;
        justify-content: center;
        
        .title-text{
            font-family: 'Open Sans';
            font-size: 3rem;
            font-weight: bold;
            color: #3D3D3D;
        }
    }

    .content{
        display: grid;
        padding-top: 2rem;
        grid-template-columns: repeat(6, 10rem);
        gap: 1rem;

        .item{
            background-color: #F5ECD5;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            width: 100%;
            height: auto;

            img{
                padding: 1rem 0.5rem;
                width: 7rem;
                height: auto;
                background-size: cover;
                background-position: center;
                transition: transform 0.3s ease;
            }

            img:hover{
                transform: scale(1.05);
            }

            .skill-name{
                padding-bottom: 1rem;
                font-family: 'open sans';
                font-size: 1.5rem;
                color: #3D3D3D;
                font-weight: 600;
            }
        }
    }
}