@import "tailwindcss";

.skills{
    display: flex;
    margin: 3% 15% 5% 15%;

    .title{
        display: flex;
        background-color: #F5ECD5;
        width: 10rem;
        justify-content: center;
        
        .title-text{
            font-family: 'Open Sans';
            font-size: 3rem;
            font-weight: bold;
            color: #3D3D3D;
        }
    }

    .content{
        background-color: blue;
        display: grid;
        padding-top: 2rem;
        grid-template-columns: repeat(5, 1fr);
        gap: 2rem;
    }
}